@import url('https://fonts.googleapis.com/css?family=Fjalla+One');

body{
    font-family: 'Fjalla One', Arial;
    font-weight: bold;
    position: relative
    }
        
a{
    text-decoration: none;
}

#title{
    font-size:24px;
    width:100%;
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
}

#map {
    height: 100%;
}
        

#new-location{position: relative;  width: auto; padding: 10px; text-align:center}
#wrong-location{float: left;  width: 33.33% ;padding: auto;text-align:center}

#search-something-to-eat{float: right;  width:33.33% ;padding: auto; text-align:center}

#search-coffee{float: right;  width:33.33% ;padding: 
auto; text-align:center}


#author{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: auto;
    width: auto;
    text-align:center;
    background-color: lawngreen;
    border-color: darkgreen
        
}

