@import url('https://fonts.googleapis.com/css?family=Fjalla+One');


    
html, body {
    height: 60%;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fjalla One', Arial;
    font-size: 25px;
    font-weight: bold;
    position: relative
    }
        
a{
    text-decoration: none;
}


#title{
    font-size:70px;
    width:100%;
    text-align:center;
    margin-top:20px;
    margin-bottom:30px;
}

#map {
    height: 100%;
    width: 90%;
    margin: auto;
}        

#new-location{    
    font-size: 35px;
    position: absolute;
    bottom: -215px;
    left: 460px;
    width: auto; 
    padding: 10px;
    text-align:center}

#wrong-location{ 
    position: absolute;
    bottom: -250px;
    left: 10px;
    float: left;  width: 33.33% ;padding: auto;text-align:center}

#search-something-to-eat{
    position: absolute;
    bottom: -250px;
    left: 450px;
    float: right;  width:33.33% ;padding: auto; text-align:center}

#search-coffee{
    position: absolute;
    bottom: -250px;
    left: 850px;
    float: right;  width:33.33% ;padding: auto; text-align:center}


#author{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    padding: auto;
    width: auto;
    text-align:center;
    background-color: lawngreen;
    border-color: darkgreen
        
}

